<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="../static/css/style.css"
	th:href="@{/css/style.css}" />

</head>
<body>

	<div id="content" th:fragment="editUser">
		<h3>Edit User</h3>
		<form th:action="@{'/expense/users/' + ${user.id} +'/update'}" th:object="${user}" method="post">
			<div class="form-group">
				<label for="firstName">First Name:</label>
				<input type="text" class="form-control" th:field="*{firstName}" th:required="required"/> 
			</div>
			<div class="form-group">
				<label for="lastName">Last Name:</label>
				<input type="text" class="form-control" th:field="*{lastName}" th:required="required"/>
			</div>
			<div class="form-group">
				<label for="email">Email:</label>
				<input type="text" class="form-control" th:field="*{email}" th:required="required"/>
			</div>
			<div class="form-group">
				<label for="phoneNumber">Phone Number:</label>
				<input type="text" class="form-control" th:field="*{phoneNumber}"/>
			</div>
			<button type="submit" class="btn btn-primary" name="action" value="save">Save</button>
			<button type="submit" class="btn btn-primary" name="action" value="delete">Delete</button>
			<button type="submit" class="btn btn-primary" name="action" value="cancel">Cancel</button>
		</form>
		
	</div>

</body>
</html>